*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
bakis/obj/bakis.csproj.nuget.dgspec.json
bakis/obj/bakis.csproj.nuget.g.props
*.cache
*.ide-shm
*.ide-wal
bakis/.vs/bakis/config/applicationhost.config
bakis/.vs/bakis/DesignTimeBuild/.dtbcache
bakis/.vs/bakis/v16/.suo
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide-shm
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide-wal
bakis/appsettings.json
bakis/bin/Debug/netcoreapp2.1/appsettings.json
bakis/bin/Debug/netcoreapp2.1/bakis.dll
bakis/bin/Debug/netcoreapp2.1/bakis.pdb
bakis/bin/Debug/netcoreapp2.1/Properties/launchSettings.json
bakis/Migrations/20200318193007_Second.cs
bakis/Migrations/20200318193007_Second.Designer.cs
bakis/obj/bakis.csproj.nuget.cache
bakis/obj/bakis.csproj.nuget.dgspec.json
bakis/obj/bakis.csproj.nuget.g.props
bakis/obj/Debug/netcoreapp2.1/bakis.assets.cache
bakis/obj/Debug/netcoreapp2.1/bakis.csproj.FileListAbsolute.txt
bakis/obj/Debug/netcoreapp2.1/bakis.csprojAssemblyReference.cache
bakis/obj/Debug/netcoreapp2.1/bakis.dll
bakis/obj/Debug/netcoreapp2.1/bakis.pdb
bakis/Properties/launchSettings.json
bakis/.vs/bakis/v16/.suo
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide-wal
bakis/obj/Debug/netcoreapp2.1/bakis.pdb
bakis/.vs/bakis/DesignTimeBuild/.dtbcache
bakis/.vs/bakis/v16/.suo
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide-shm
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide-wal
bakis/bin/Debug/netcoreapp2.1/bakis.dll
bakis/bin/Debug/netcoreapp2.1/bakis.pdb
bakis/obj/Debug/netcoreapp2.1/bakis.csprojAssemblyReference.cache
bakis/obj/Debug/netcoreapp2.1/bakis.dll
bakis/obj/Debug/netcoreapp2.1/bakis.pdb
bakis/.vs/bakis/DesignTimeBuild/.dtbcache
bakis/.vs/bakis/DesignTimeBuild/.dtbcache
bakis/.vs/bakis/v16/.suo
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide-shm
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide-wal
bakis/bin/Debug/netcoreapp2.1/appsettings.json
bakis/bin/Debug/netcoreapp2.1/appsettings.json
bakis/bin/Debug/netcoreapp2.1/bakis.dll
bakis/bin/Debug/netcoreapp2.1/bakis.pdb
bakis/Migrations/20200411200315_DateUp7.cs
bakis/Migrations/20200411200315_DateUp7.Designer.cs
bakis/Migrations/ProjectContextModelSnapshot.cs
bakis/Migrations/ProjectContextModelSnapshot.cs
bakis/obj/Debug/netcoreapp2.1/bakis.csprojAssemblyReference.cache
bakis/obj/Debug/netcoreapp2.1/bakis.dll
bakis/obj/Debug/netcoreapp2.1/bakis.pdb
bakis/.vs/bakis/v16/.suo
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide-shm
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide-wal
bakis/bin/Debug/netcoreapp2.1/bakis.dll
bakis/bin/Debug/netcoreapp2.1/bakis.pdb
bakis/obj/Debug/netcoreapp2.1/bakis.csprojAssemblyReference.cache
bakis/obj/Debug/netcoreapp2.1/bakis.dll
bakis/obj/Debug/netcoreapp2.1/bakis.pdb
bakis/.vs/bakis/DesignTimeBuild/.dtbcache
bakis/.vs/bakis/v16/.suo
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide-shm
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide-wal
bakis/appsettings.json
bakis/bin/Debug/netcoreapp2.1/appsettings.json
bakis/bin/Debug/netcoreapp2.1/bakis.dll
bakis/bin/Debug/netcoreapp2.1/bakis.pdb
bakis/Migrations/20200418151421_FileName.cs
bakis/Migrations/20200418151421_FileName.Designer.cs
bakis/Migrations/20200418193445_Require.cs
bakis/Migrations/20200418193445_Require.Designer.cs
bakis/Migrations/ProjectContextModelSnapshot.cs
bakis/Migrations/ProjectContextModelSnapshot.cs
bakis/obj/Debug/netcoreapp2.1/bakis.csprojAssemblyReference.cache
bakis/obj/Debug/netcoreapp2.1/bakis.dll
bakis/obj/Debug/netcoreapp2.1/bakis.pdb
bakis/Resources/Certificates/10.png
bakis/Resources/Certificates/db.txt
bakis/.vs/bakis/DesignTimeBuild/.dtbcache
bakis/.vs/bakis/v16/.suo
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide-shm
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide-wal
bakis/appsettings.json
bakis/bakis.csproj.user
bakis/bin/Debug/netcoreapp2.1/appsettings.json
bakis/bin/Debug/netcoreapp2.1/bakis.dll
bakis/bin/Debug/netcoreapp2.1/bakis.pdb
bakis/Migrations/ProjectContextModelSnapshot.cs
bakis/obj/Debug/netcoreapp2.1/bakis.csprojAssemblyReference.cache
bakis/obj/Debug/netcoreapp2.1/bakis.dll
bakis/obj/Debug/netcoreapp2.1/bakis.pdb
bakis/.vs/bakis/DesignTimeBuild/.dtbcache
bakis/.vs/bakis/v16/.suo
bakis/.vs/bakis/v16/Server/sqlite3/storage.ide
bakis/appsettings.json
bakis/bin/Debug/netcoreapp2.1/appsettings.json
bakis/bin/Debug/netcoreapp2.1/bakis.dll
bakis/bin/Debug/netcoreapp2.1/bakis.pdb
bakis/Controllers/ProjectStagesController.cs
bakis/Controllers/ProjectStagesController.cs
bakis/Migrations/20200424185626_emp.cs
bakis/Migrations/20200424185626_emp.Designer.cs
bakis/Migrations/20200427192111_fileT.cs
bakis/Migrations/20200427192111_fileT.Designer.cs
bakis/Migrations/ProjectContextModelSnapshot.cs
bakis/obj/Debug/netcoreapp2.1/bakis.csprojAssemblyReference.cache
bakis/obj/Debug/netcoreapp2.1/bakis.dll
bakis/obj/Debug/netcoreapp2.1/bakis.pdb
bakis/Resources/klaida.png
bakis/Resources/p.png
bakis/Resources/teises1.png
bakis/Resources/teises2.png
